@import url(headerfooter.css);

.section *{
    width: 50%;
    margin: 1% auto;
    
}
.nav ul li a:hover{
    color: white;
    transition: 0.3s;
}
video {
    width: 10%;
    height: 5%;
    margin: 10px auto;
}

.section video,.section img{
    display: block;         
    width: 30%;             
    margin: 10px auto;      
    border-radius: 10px;  

}

.date {
    color: gray;
}

.section span.firstword{
    font-weight: bold;
}

.banner {
    background: linear-gradient(to top, rgba(255,255,255,0.9), rgba(255,255,255,0)),
    url("../img/suibg.jpg") no-repeat;
    background-position: 0% 20%; 
    background-size: cover;
    height: 15em;
}