
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap');
@import url('headerfooter.css');


 body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
 }
.textbox {
    padding: 10px 20px; 
}

.newsbox {
    display: flex;
    gap: 3%;
}

h2{
    color: #FFB554;
}

.box {
    width: 80%;
    margin: 0 auto; 
}

.breadcrumb{
    margin-left: 1.1em;
}
.page {
    text-align: center;
    margin: 3em 0;
}
@media screen and (max-width: 768px) {
   
.newsbox img{
        width: 80%;
        height: 140px;
        margin: 2%;
    }


    .box {
    width: 100%;
    margin: 0 auto; 
    }

    .textbox h2{
        font-size: 1.5em;
    }
    .newsbox{
        font-size: 0.5em;
    }
   
}