
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap');
@import url('headerfooter.css');


 body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
 }
.textbox {
    padding: 10px 20px; 
}

.newsbox {
    display: flex;
    gap: 3%;
}

h2{
    color: #FFB554;
}

.box {
    width: 80%;
    margin: 0 auto; 
}

.breadcrumb{
    margin-left: 1.1em;
}
.page {
    text-align: center;
    margin: 3em 0;
}
@media screen and (max-width: 768px) {
   
.d-flex img{
        width: 80%;
        height: 140px;
       
    }

.textbox {
        margin: 0;
        padding: 2% 0;
    }

    

    .textbox h2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 5;
    }

  .textbox p{
        display: none;
    }
}